.custom-select {
  position: relative;
  font-family: Arial;
  select {
    display: none;
  }
}

.select-selected {
  color: #000;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
  &:after {
    float: right;
    position: relative;
    content: "";
    top: 12px;
    width: 0;
    height: 0;

    border: solid #01BBFE;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;

    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  &.select-arrow-active {
    &:after {
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
      top: 15px;
    }
  }
}

.select-items {
  width: 100%;
  position: absolute;
  background-color: #fff;
  top: calc(100% + 4px);
  left: 0;
  right: 0;
  z-index: 99;
  border-color: #ced4da;
  div {
    color: #000;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}

.select-hide {
  display: none;
}

.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.select {
  width:50%;
  margin:1em 0;
  position: relative;
}
.tiny {
  width:10%;
}
.small {
  width:25%;
}
.large {
  width:auto;
}
.select label {
  display:block;
}

input.custom.replaced {
  position: relative;
  z-index: 10;
  width: 100%;
  border: 0;
  opacity: 0;
  line-height: 2;
  background-color: #fff;
  cursor: pointer;
}

.custom-select {
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0px !important;
  border: 0 !important;
  &.focus {
    border-color: #80bdff !important;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25) !important;
  }
  .select-selected {
    display: block;
    padding: 0 25px 0 6px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    color: #333;
    border: 1px solid #ced4da;
    line-height: calc(2em + 4px);
    padding-left: 15px;
    font-size: 16px;
    color: #121212;
    letter-spacing: -0.4px;
    &:after {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.custom-select.active > span {
  border-color:#666;
  -moz-box-shadow:0 0 2px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow:0 0 2px rgba(0, 0, 0, 0.5);
  box-shadow:0 0 2px rgba(0, 0, 0, 0.5);
}
